/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(174, 77, 199);
    background: #f1f1f1;
    box-sizing: border-box;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  body{
    background-color: rgb(234, 234, 238);
  }
  
  button {
    background-color: #5e1874;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: 3px solid black;
    cursor: pointer;
    width: 20%;
    
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
    cursor: pointer;
  }
  
  .container {
    padding: 16px;
    border: dotted purple;
  }
  
  #gender{
    accent-color: purple;
  }
  
  #rememberme{
    margin-bottom: 25px;
    accent-color: purple;
  }  

  